# Copy this file to .env for local development. Never commit .env.
DOG_API_KEY=your_dog_api_key_here
GCS_BUCKET_NAME=dog-breed-pipeline-raw
BQ_PROJECT=project-6a3a4778-6bf8-49b1-984
BQ_DATASET=dog_breeds_bronze
BQ_TABLE=raw_breeds
